@import url("https://mirinda-mewi.netlify.app/styles/main.css");


.filterWrapper{
    background-color: #673ab7;
    overflow-y: auto;
    padding: 1rem;
    color: white;
    min-height: calc(100vh - 4.5rem);
}
.filterWrapper h2{
    font-weight: 500;   
}
.checkboxes{
    margin: 0.3rem;
}
.ourSlider{
    width: 80%;
    accent-color: #ffd740;
    display: block;
}

.gridDisplay{
    display: grid;
    grid-template-columns: 18rem 1fr;
    gap: 0.5rem;
}
.overflow{
    height: calc(100vh - 4.7rem);
    overflow-x: auto;
}
.pageContent {
  width: 100%;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-template-rows: repeat(auto-fill, 29rem);
  gap: 2rem;
}
/* card component */

.productCard {
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 4px rgb(222, 219, 219),
    0px 0px 2px 2px rgb(208, 206, 206);
}
.productCard img {
  border-radius: 3px;
}
.productImage {
  height: 14rem;
  overflow: hidden;
}
.cardContent {
  border-radius: 3px;
  height: 6rem;
  background-color: white;
}
.cardActionButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardActionButtons Link {
  padding: 0.2rem;
}
.cardActionButtons .btn {
  border-radius: 3px;
}
.productCard .priceContainer {
  border-radius: 3px;
  background-color: white;
  color: black;
}

/* add to card button */

.productCard .btn-success {
  background-color: #73db6c;
  color: white;
  padding: 0.2rem;
}
.productCard .btn-success:hover {
  background-color: #4BB543;
  border-color: #4BB543;
  box-shadow: none;
}
/* wishlisht button */

.productCard .btn-primary {
  background-color: var(--light-caution);
  color: white;
}
.productCard .btn-primary:hover {
  background-color: var(--caution);
  border-color: var(--caution);
  box-shadow: none;
}

.wishListIcon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  color: var(--caution);
  cursor: pointer;
}

.wishListIcon:hover {
  transition: all ease-in 0.3s;
  transform: rotateY(-180deg);
}

/* modal */

#exampleModal{
  color: black;  
  background-color: inherit;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
.modalImage {
  max-height: 20rem;
  overflow: hidden;
}
