.filterWrapper{
    background-color: #673ab7;
    overflow-y: auto;
    padding: 1rem;
    color: white;
    min-height: calc(100vh - 4.5rem);
}
.filterWrapper h2{
    font-weight: 500;   
}
.checkboxes{
    margin: 0.3rem;
}
.ourSlider{
    width: 80%;
    accent-color: #ffd740;
    display: block;
}