.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .link{
      text-decoration: none;
      color: var(--bs-indigo);
      cursor: pointer;
  }
  .bgimage{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../../../assets/undraw_shopping_app_flsj.svg");
  }
  .textBox{
    position: absolute;
    top: 30%;
    left: 50%;
  }
  .bgimage .shopButton{
    position: absolute;
    right: 5%;
    top:10%;
    text-align: right;
    font-size: larger;
  }
  .shopButton div{
    font-size: x-large;
  }