<div class="pageContent">
    <div *ngFor="let item of results" class="productCard pd-sm mg-sm">
    
    <div class='productImage flex align-items-center'>
        <img src={{item.imgUrl}} alt={{item.title}} />
    </div>
    <div class="wishListIcon flex align-items-center">
        <i class="far fa-heart fs-lg"></i>  
    </div>
    <div class="cardContent">
        <div class="priceContainer mg-y-sm pd-sm">
            <h3 class="cardHead">{{item.title}}</h3>
            <div class="productPrice fw-xxl"><i class="fas fa-rupee-sign"></i> {{item.price}}
            </div>
        </div>
    </div>
    
    <div class='cardActionButtons'>
            <button class="btn btn-success fs-md mg-t-sm" >
                    <i class="fas fa-shopping-cart mg-r-sm">  
                    </i>Add to Cart
            </button>
            <button mat-raised-button color="primary" class="fs-md mg-y-sm textCenter">
                    <i  class="fas fa-shopping-cart mg-r-sm"> </i>View Details
            </button>
        
    </div>
        
        

</div>
</div>
