@import url("https://mirinda-mewi.netlify.app/styles/main.css");


/* aside filtering component */

.filters {
  background-color: black;
  padding: 0 2rem;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.filters .snippets {
  background-color: var(--lighter-gray);
}
.filterHead {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
.filters .btn {
  font-size: initial;
  cursor: pointer;
  color: white;
  text-decoration-color: white;
}
.filters .btn-link-dot {
  text-decoration-style: solid;
}
.filters input {
  accent-color: white;
}
.filters input[type="radio"],
.filters input[type="checkbox"] {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.filters input[type="radio"] {
  accent-color: black;
}
#myRange {
  cursor: pointer;
  width: 15rem;
}
/* Main product display page grid layout */

/* card component */

.productCard {
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 4px rgb(222, 219, 219),
    0px 0px 2px 2px rgb(208, 206, 206);
}
.productCard img {
  border-radius: 3px;
}
.productImage {
  height: 14rem;
  overflow: hidden;
}
.cardContent {
  border-radius: 3px;
  height: 6rem;
  background-color: white;
}
.cardActionButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardActionButtons Link {
  padding: 0.2rem;
}
.cardActionButtons .btn {
  border-radius: 3px;
}
.productCard .priceContainer {
  border-radius: 3px;
  background-color: white;
  color: black;
}

/* add to card button */

.productCard .btn-success {
  background-color: #73db6c;
  color: white;
  padding: 0.2rem;
}
.productCard .btn-success:hover {
  background-color: #4BB543;
  border-color: #4BB543;
  box-shadow: none;
}
/* wishlisht button */

.productCard .btn-primary {
  background-color: var(--light-caution);
  color: white;
}
.productCard .btn-primary:hover {
  background-color: var(--caution);
  border-color: var(--caution);
  box-shadow: none;
}

.wishListIcon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  color: var(--caution);
  cursor: pointer;
}

.wishListIcon:hover {
  transition: all ease-in 0.3s;
  transform: rotateY(-180deg);
}