<mat-toolbar color="primary">
    <mat-toolbar-row class="d-flex justify-content-between">
      <a routerLink="" class="link .fs-5">MyApp</a>

 
        <div class="searchBarHolder">
          <input matInput class="searchBar" placeholder="Ex. Pizza" value="">
          <mat-icon>search</mat-icon>
        </div>
 
      
     <div>
      <div *ngIf="this.authService.isLoggedIn(); else elseBlock">
        <button mat-raised-button (click)="this.authService.logout()">Logout</button>
      </div> 
      <ng-template #elseBlock><button mat-raised-button routerLink="/login">Login</button></ng-template>
      
      
      <button mat-icon-button class="example-icon px-2" aria-label="Example icon-button with menu icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon px-2" aria-label="Example icon-button with menu icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
     </div>
    </mat-toolbar-row>