.example-spacer {
    flex: 1 1 auto;
  }
  .link{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
}
.searchBar{
  padding: 1rem;
  background-color: white;
  max-height: 1rem;
}
.searchBar input{
  border-radius: 5px;
}